/*
Name: Brady Margulis
Class: CPSC-332 Web Development
Assignment: Homework 2
Last Modified: Sep. 25, 2025
*/
:root{
    --color-light: #fff1df;
    --color-dark: #222d50;;
}

body{
    width: 75%;
    padding: 0%;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: var(--color-dark);
    color: var(--color-light);
    height: 100px;
    display: flex;
    flex-direction: row;
}

nav{
    flex-basis: 70%;
}

a{
    color: var(--color-light);
}

#header_image{
    height: 90%;
    background-color: var(--color-light);
}

#flexbox{
    display: flex;
    flex-direction: row;
    height: auto;
}

#profile{
    background-color: #525d80;
    color: var(--color-light);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;

}

#content{
    background-color: var(--color-light);
    color: var(--color-dark);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.section{
    flex-grow: 0;
    flex-shrink: 1;
    margin: 10px;
}

#photo{
    text-align: center;
}

img{
    /* EXTRA CREDIT special effect: image rounding*/
    border-radius: 20%;
    border: 5px solid var(--color-light);
    justify-content: center;
}

li img{
    border: 5px solid var(--color-dark);
}

#content.section{
    flex-basis: 1/3;
}

#profile.section{
    flex-basis: auto;
}

#summary{
    border-top: 10px solid var(--color-light);
    border-bottom: 10px solid var(--color-light);
}

table{
    border-left: 5px solid var(--color-dark);
}

thead, tbody > :nth-child(even){
    background-color: #c9c1b6;
}

#nature{
    display: flex;
}